*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:  rgb(173, 236, 136);
}
.card {
    background-color: rgb(65, 65, 65);
    /* padding:30px 70px; */
    border-radius: 18px;
    text-align: center;
    justify-content: center;
    justify-items: center;
    padding: 30px;
}
.card img{
padding: 5px;
width: 70px;
height: 70px;
background-color: azure;
border-radius: 50%;
/* margin: 8px; */
}
.card h2{
    font-size: 18px;
    color: rgb(15, 15, 65);
    margin-bottom: 8px;
}
.card p{
    font-size: 12px;
    color: rgb(192, 192, 192);
}
.input-group {
     text-align: left;
     padding: 10px;
     /* margin-left: 10px ; */
}
.input-group label{
    display: block;
    padding: 5px;
    color:white;
}
.input-group input{
    padding: 10px ;
    border-radius: 8px;
    border: 1px solid black;

}
.input-group input:focus{
    border-color: blueviolet;
    box-shadow: 5 5 10px;
    outline: none;
}
.forgot a {
    margin-top: 5px;
    text-decoration: none;
    color: rgb(20, 20, 85);
}
.forgot a :hover{
    text-decoration: underline;
}
.btn{
    padding: 10px;
    width: 180px;
    background-color: #00C950;
    border-radius: 8px;
    border: none;
    margin-top: 20px;
    cursor: pointer;
}
.register{
    margin-top: 20px;
    color:white;

}
