*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(173, 236, 136);
    font-family: 'Lucida Sans';
}
.container{
    width: 80%;
    margin: 10px auto;
}
.product-detail{
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 40px;
}
.product-gallery{
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 10px;
}
.sunflower{
  max-height: 450px;
  overflow-y: auto;
  direction: rtl;
}
.sunflower img{
    width: 80px;
    height: 100px;
}

.main-product img {
    width: 100%;
    height: 600px;
}
.related{
    margin-top: 30px;
}
.related h3{
    border-left: 4px solid black;
    padding-left:15px ;
}
.related-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 20px;
}
.related-card{
    padding-bottom: 10px;
    box-shadow: 2px 4px 7px rgba(0,0,0,0.2);
    border-radius: 8px;
}
.related-card p{
    font-weight: bold;
    margin: 15px;
}
.related-card img{
    width: 100%;
    height: 350px;
}
/* .product-info p{
    font-weight: bold;
} */
@media (max-width: 768px){
    .container{
    width:95%;
    }
    .related-grid{
    grid-template-columns: repeat(2, 1fr);
   }
    .product-detail{
        grid-template-columns: 1fr;
    }
    .product-gallery{
        grid-template-columns: 1fr;
    }
    .main-product{
        order: 1;
    }
    .sunflower{
    order: 2;
    display: flex;
    direction: ltr;
    overflow-x: auto;
    gap: 6px;
    }
}

