*{
            padding: 0;
            margin: 0;
}

        .nav-bottom{
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: #00C950;
            padding: 10px 0;
            display: none;
            justify-content: space-around;
        }
        .nav-item-bottom{
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-decoration: none;
        }
        .active{
            color: red;
        }
        @media (max-width: 600px){
            .nav-bottom{
                display: flex;
            }
        }
        .header{
              box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
              /* margin: 0; */
              display: flex;
              justify-content: space-between;
              background-color: #0D542B;
              overflow: hidden;
            
        }
        .navbar{
            display: flex; 
            justify-content: space-around;
            align-items: center;
            
        }
        .navbar-list{
            display: flex;
            list-style: none;
            justify-content: space-around;
        }
        .navbar-item{
             text-decoration: none;
              padding: 10px;
               /* display: block; */
        }
        li a {
            font-family: 'Arial', sans-serif;   /* Change font family */       /* Bold text */
            font-size: 16px;                    /* Change size */
            color: rgb(231, 231, 231);                        /* Change color */
            text-decoration: none;              /* Remove underline */
        }
        li a:hover{
            color: blue ;
        }
        @media (max-width: 780px){
            .navbar-list{
                display: none;
            }
        }
        .seticon{
            border: none;
            background-color: white;
        }
        .seticon:hover{
            color: blue;
        }
        .product-grid{
            justify-items: center;
            display: grid;
            grid-template-columns: repeat(4,1fr);
            padding: 20px;
            overflow: hidden;
            gap: 0;
            /* background-color: aquamarine; */
        }
        .product-card{
            padding: 15px;
            box-shadow: 2px 4px 7px rgba(0,0,0,0.2) ;
        }
        .product-card img{
            width: 200px;
            height: 200px;
        }
        .btn{
            color: black;
            padding: 10px;
            background-color: #00C950;
            border: none;
            border-radius: 10px;
            /* height: 40px; */
            width: 100%;
            align-items: center;
            
        }
         .text{
            color: red;
        }

        @media (max-width: 1200px){
           .text{
             font-size: 32px;
             color: black;
           }
        }

        /* Tablet view */
        @media (max-width: 992px){
           .text{
             font-size: 24px;
             color: black;
           }
        }

        /* Mobile view */
        @media (max-width:768px){
            .text{
                font-size: 20px;
                color: black;
                background-color: white;
            }
        @media (max-width: 480px){
            .text{
                font-size: 16px;
                color: black;
            }   
        }
            .product-grid{
                grid-template-columns: repeat(2, 1fr);
            }
        }
        @media print {

        }